.square {
  margin: 0;
  width: 2em;
  font-weight: 600;
  font-size: x-large;
  height: 2em;
  border: 1px solid white;
  color: white;
  background-color: transparent;
}

.board-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.status {
  color: white;
  margin-block: 10px;
  font-size: x-large;
  font-weight: 600;
}